/* 
Paleta de colores
*/
// .colors{
//     /* fondo claro */
//     color: #ce9466;
//     /* fondo normal */
//     color: #A06A4A;
//     /* fondo oscuro */
//     color: #5D4035;
//     /* resalto normal */
//     color: rgba(40, 25, 21, 1);
//     /* resalto oscuro */
//     color: #281915;
//     /* letras */
//     color: #F1F0F3;
//     }

$fondoClaro: #ce9466;
$fondoNormal: #A06A4A;
$fondoOscuro: #5D4035;
$resaltoNormal: rgba(40, 25, 21, 1);
$ressaltoOscuro: #281915;
$letras: #F1F0F3;

$iconoSmall: 34px;
